/* Default styles */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body{
    background-color: hsl(226, 43%, 10%);
    @import url('https://fonts.google.com/specimen/Rubik');
}
a{
text-decoration: none;
color: none;
background-color: none;
}
.grid-container{
    display: grid;
    gap: 2em;
    padding: 3em 2em;
    overflow-x: auto;
}
.flex{
    display: flex;
}
.grid-item{
    width: 100%;
    max-width: 450px;
    margin: auto;
}

/* Profile section */
.profile{
    background-color: hsl(235, 46%, 20%);
    border-radius: 1em;
    flex-direction: column;
}
.profile-info{
    justify-content: space-between;
    align-items: center;
    background-color: hsl(246, 80%, 60%);
    border-radius: 1em;
    padding:2em;
}
.profile-image{
    width: 20%;  
    outline: 3px solid white;
    border-radius: 50%;
}
.profile-image img{
    width: 100%;
}
.profile-text{
    flex-direction: column;
    color: white;

}
profile-text p{
    font-weight: 700;
    color: hsl(236, 100%, 87%);
}
profile-text h2{
    font-size: 2rem;
}
.profile .activity-duration{
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em 2em;
}
.profile .activity-duration a:not(.current){
    color: hsl(236, 100%, 87%);
}
.profile .activity-duration a:hover{
    color: white;
    cursor: pointer;
}
.profile .activity-duration .current{
    color: white;
}

/* Activitites section */
.work{
    background-color: hsl(15, 100%, 70%);
}
.play{
    background-color: hsl(195, 74%, 62%);
}
.study{
    background-color: hsl(348, 100%, 68%);
}
.exercise{
    background-color: hsl(145, 58%, 55%);
}
.social{
    background-color: hsl(264, 64%, 52%);
}
.self-care{
    background-color: hsl(43, 84%, 65%);
}

.work .icon{
    background-image: url('images/icon-work.svg');
}
.play .icon{
    background-image: url('images/icon-play.svg');
}
.study .icon{
    background-image: url('images/icon-study.svg');
}
.exercise .icon{
    background-image: url('images/icon-exercise.svg');
}
.social .icon{
    background-image: url('images/icon-social.svg');
}
.self-care .icon{
    background-image: url('images/icon-self-care.svg');
}

.activity{
    border-radius: 1em;
    color: white;
}
.activity .icon{
    background-position: right;
    background-repeat: no-repeat;
    padding: 1.5em;
}
.activity .activity-description{
    background-color: hsl(235, 46%, 20%);
    padding: 3em 2em;
    border-radius: 1em;
    flex-direction: column;
    gap: 2em;
}
.activity .activity-description:hover{
    background-color: hsl(235, 45%, 61%);
    cursor: pointer;
}
.activity-duration, .activity-name-ellipsis{
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.previous-record{
    color: hsl(236, 100%, 87%);
}
.present-record{
    font-size: 2rem;
}
.activity-name, .present-record{
    color: white;
}
.activity-name{
    font-size: 18px;
    font-weight: 700;
}


/* attribution styles */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }




/* Desktop screens */
@media screen and (min-width: 55em) {
    .grid-container{
        grid-template-columns: repeat(4, 1fr);
        gap: none;
    }
    .activity-description{
        height: 100%;
    }
    .activity{
        overflow-y: hidden;
    }
    .profile{
        margin:0;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .profile-info{
        flex-direction: column;
        align-items:flex-start ;
        gap: 2em;
        padding-bottom: 5em;
    }
    .profile-info h2{
        font-size: 2rem;
    }
    .profile-image{
        width: 30%;
    }
    .activity-duration{
        flex-direction: column;
        align-items: flex-start;
    }
    .profile .activity-duration{
        padding-top: 2em;
    }
    .profile .activity-duration a{
        margin-bottom: 2em;
    }
}


